.list {
  list-style-type: none;
}
.button {
  border-width: 0;
  background-color: #ffffff;
  opacity: 0.5;
  cursor: pointer;
}
.button1 {
  border-width: 0;
  background-color: #ffffff;
  opacity: 1;
  cursor: pointer;
}
